.App {
  /* text-align: center; */
  margin-top: 15rem;
}

.App h1 {
  font-size: 100px;
  padding-left: 5em;
}





body {
  background-image: url(images/micheile-henderson-ZVprbBmT8QA-unsplash.jpg);
  background-size: cover;
}

.title {
  align-items: center;
  margin-left: 2em;
  font-size: 10px;
  margin-top: -10rem;

}


input {
  height: 30px;
  width: 20em;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 20px;
  padding: 20px;
}

.transactionForm input{
  margin-left: 40em;
  display: flex;
  flex-wrap: wrap;

}

.table {
  margin-left: 7em;
}

.table tr{
  background-color: gray;
  height: 3em;

}

.table td {
  background-color: lightgrey;
  width: 25em;
  height: 3em;
}

.transaction input{
width: 10em;
padding-left: 50px;
margin-left: 40em;
margin-top: 3em;

}

.submit-btn {
  height: 0px;
  background-color: yellowgreen;
  width: 10em;
  padding-bottom: 2em;
}
